VITE_API_BASE_URL = backend-endpoint

# there are two versions of this file, .env.development and .env.production, Please make sure to update both files when changing the API base URL.

# .env.development is for local development and .env.production is for production build.